body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.title {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.file-input {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
}

.file-input-wrapper {
    position: relative;
}

.custom-file-upload {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.clear-btn {
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-btn:hover {
    background-color: #777;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Dark mode styles */
.dark-mode .container {
    background-color: #222;
}

.dark-mode .title {
    color: #fff;
}

.dark-mode .file-input {
    background-color: #444;
    border-color: #777;
}

.dark-mode .custom-file-upload {
    background-color: #007bff;
    color: #fff;
}

.dark-mode .custom-file-upload:hover {
    background-color: #0056b3;
}

.dark-mode .clear-btn {
    background-color: #555;
}

.dark-mode .clear-btn:hover {
    background-color: #777;
}